*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box; 
}
body{
    background-color: rgba(0, 0, 0, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}
.container{  
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
p{
    padding: 10px;
    color: #7f8c8d;
    font-size: 20px;
    text-align: center;
}
.name{
    font-weight: 500;
    font-size: 30px;
    margin: 5px;
    text-transform: capitalize;
    color: aliceblue;
}
.typing{
    color: aliceblue;
    text-transform: capitalize;
    font-size: 25px;
}
.container img{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
span a{
 font-size: 50px;   
 margin-bottom: 10px;
 padding-left: 10px;
}
a:visited{
    color: aliceblue;
}
a{
    text-decoration: none;
    color: white;
    transition: color 1s; 
}
.links{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
footer{
    height: 100px;
}
.bottom-text {
    padding: 20px;
    text-align: center;
    font-size: 15px;
  }

  /* links */
.github a i:hover, .hackerrank a i:hover {
    background: #2B3035;
    transition: 0.3s ease-in-out;
    border-radius: 27px;
}
.hackerrank-icon {
    width: 24px;
    height: 24px;
}
.insta a i:hover {
    transition: 0.5s;
    border-radius: 5px;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
}
.twitter a i:hover {
    border-radius: 5px;
    transition: 0.5s;
    background: #00B4DB;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
}
.linked a i:hover {
    padding: 2px;
    border-radius: 5px;
    transition: 0.5s;
    background: #0072AC;
}
.mail a i:hover {
    background: #870000;
    transition: 0.5s;
    padding: 1px;
    border-radius: 5px;
}
/* Resume */
.resume{
    display: flex;
    align-items: center;
    justify-content: center;
}
.resume{
    margin-top: 10px;
}
.resume a{
    letter-spacing: 2px;
    font-size: medium;
    color: #000000;
}
.resume-link{
    display: inline-block;
    padding: 10px 20px;
    background-color:  #FFFFFF;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    transition: background 0.3s ease;
}
.resume-link:hover {
        background-color: #CCCCCC;
}
@media screen and (max-width:480px) {
    .mail a i:hover{
        background: #564905;
    }
    footer{
       padding-top: 30%;
    }
}